* {
    background-color: #96D3DE;
}

.bg-color-white {
    background-color: white !important;
}

label,
option,
select,
input,
li {
    background-color: white !important;
}

.godmorgen {
    margin: 0;
}

.bg-white {
    background-color: white;
    border-radius: 15px;
    padding: 5% 2%;
    height: 450px;
}

.hjem-bg {
    background-color: #2c2c2c;
    border-radius: 15px;
    height: 550px;
}

.round {
    border-radius: 100%;
}

.delete-knap {
    color: #2c2c2c;
    background-color: #ffcd29;
    border-radius: 5px;
    border: none;
    width: 40%;
    height: 25px;
    text-transform: uppercase;
    font-weight: bold;
    transition: 0.5s;
}

.delete-knap:hover {
    transition: 0.5s;
    color: #2c2c2c;
    background-color: rgb(219, 219, 219);
}

.hjem-knap {
    color: white;
    background-color: #2c2c2c;
    border-radius: 10px;
    border: none;
    width: 100%;
    height: 50px;
    text-transform: uppercase;
    margin: 0 auto;
    font-weight: bold;
    transition: 0.5s;
    padding: 0;
}

.hjem-knap:hover {
    transition: 0.5s;
    color: #2c2c2c;
    background-color: rgb(219, 219, 219);
}

.booking-knap {
    text-decoration: none;
    color: #2c2c2c;
    background-color: #ffcd29;
    border-radius: 10px;
    border: none;
    width: 100%;
    height: 50px;
    text-transform: uppercase;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 2%;
    font-weight: bold;
    transition: 0.5s;
}

.booking-knap:hover {
    transition: 0.5s;
    color: #2c2c2c;
    background-color: rgb(219, 219, 219);
}

.grid-container-1 {
    display: grid;
    grid-template-columns: 1fr;
}

.grid-container-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.img-fix {
    margin-left: auto;
}

.grid-container-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 10%;
    padding-right: 10%;
}

.grid-container-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 15%;
    padding-right: 15%;
}

.grid-item {
    text-align: left;
    margin: auto;
}

.grid-item-menu {
    text-align: center;
    margin: auto;
    width: 50%;
}

.grid-item-settings {
    text-align: left;
    margin: auto;
    width: 50%;
}

.home-de-lift {
    margin-top: 50px;
}

.home-lift {
    margin-bottom: 100px;
}

.pos-fix {
    padding-top: 4.7%;
}

.pos-fix-2 {
    padding-top: 7%;
}

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.left-space {
    margin-left: 50px;
}


/* calender */

.month {
    padding: 70px 25px;
    width: 100%;
    background: #ffcd29;
    text-align: center;
}

.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.month .prev {
    float: left;
    padding-top: 10px;
}

.month .next {
    float: right;
    padding-top: 10px;
}

.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color: #ddd;
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
}

.days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size: 12px;
    color: #777;
}

.days li .active {
    padding: 5px;
    background: #ffcd29;
    color: white !important
}